<!DOCTYPE html>
<html>
  <!-- HEAD -->
  <%- include('./partials/head') %>
  <body>
    <!-- HEADER -->
    <%- include('./partials/header') %>

    <!-- MAIN -->
    <main class="main-home">
        <!-- Carrusel -->
      <section class="section-set-display carrusel">
        <div class="slider-frame">
          <ul>
            <li>
              <img
                src="images/Banner1.png"
                alt="Ofertas"
              />
            </li>
            <li>
              <img
                src="images/Banner2.png"
                alt="Ofertas"
              />
            </li>
            <li>
              <img
                src="images/Banner3.png"
                alt="Ofertas"
              />
            </li>
            <li>
              <img
                src="images/Banner4.png"
                alt="Ofertas"
              />
            </li>
          </ul>
        </div>
      </section>
      <!-- Carrusel end -->
      <!-- Info -->
      <section class="section-set-display info">
        <div>
          <ul>
            <li>
              <div class="info-li">
                <i class="fa-regular fa-credit-card"></i>
                <h3>Recibimos todas las tarjetas</h3>
              </div>
            </li>
            <li>
              <div class="info-li">
                <i class="fa-solid fa-truck-arrow-right"></i>
                <h3>Envío gratis a todo el país</h3>
              </div>
            </li>
            <li>
              <div class="info-li">
                <i class="fa-solid fa-check"></i>
                <h3>12 meses de garantía</h3>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <!-- INFO end -->
    
      <h2>Lo más buscado</h2>
      <section class="section-set-display sección01">
          <% for (i = 0; i < 4; i++) { %> 
        
        <article class="article-style <%= article[i] %>">
          <div class="imgProduct">
            <img
              src="images/products/<%= searchedProducts[i].image %>"
              alt="Iphone 13 Pro Max"
            />
          </div>

          <div class="descriptionProduct">  
            <div class="title">
              <h5><%= searchedProducts[i].name %></h5>
            </div>
            <div class="price">
              <h5>$ <%= searchedProducts[i].price %> </h5>
            </div>
            <div class="discount">
              <i class="fa-solid fa-truck"></i>
              <h6>Envío gratis</h6>
            </div>
          </div>
        </article>
      
        <% } %>
      </section>

      <h2>Celulares</h2>
      <section class="section-set-display seccion02">
        
            <% for (i = 0; i < 4; i++) { %> 
          <article class="article-style <%= article[i] %>">
            <div class="imgProduct">
              <img
                src="images/products/<%= phones[i].image %>"
                alt="Iphone 13 Pro Max"
              />
            </div>
  
            <div class="descriptionProduct">  
              <div class="title">
                <h5><%= phones[i].name %></h5>
              </div>
              <div class="price">
                <h5>$ <%= phones[i].price %> </h5>
              </div>
              <div class="discount">
                <i class="fa-solid fa-truck"></i>
                <h6>Envío gratis</h6>
              </div>
            </div>
          </article>
          <% } %>
        
      </section>

      <h2>Tablets</h2>
      <section class="section-set-display seccion03">
        <% for (i = 0; i < 4; i++) { %> 
          <article class="article-style <%= article[i] %>">
            <div class="imgProduct">
              <img
                src="images/products/<%= tablets[i].image %>"
                alt="Iphone 13 Pro Max"
              />
            </div>
  
            <div class="descriptionProduct">  
              <div class="title">
                <h5><%= tablets[i].name %></h5>
              </div>
              <div class="price">
                <h5>$ <%= tablets[i].price %> </h5>
              </div>
              <div class="discount">
                <i class="fa-solid fa-truck"></i>
                <h6>Envío gratis</h6>
              </div>
            </div>
          </article>
          <% } %>
      </section>

      <h2>Laptops</h2>
      <section class="section-set-display seccion04">
        <% for (i = 0; i < 4; i++) { %> 
          <article class="article-style <%= article[i] %>">
            <div class="imgProduct">
              <img
                src="images/products/<%= laptops[i].image %>"
                alt="Iphone 13 Pro Max"
              />
            </div>
  
            <div class="descriptionProduct">  
              <div class="title">
                <h5><%= laptops[i].name %></h5>
              </div>
              <div class="price">
                <h5>$ <%= laptops[i].price %> </h5>
              </div>
              <div class="discount">
                <i class="fa-solid fa-truck"></i>
                <h6>Envío gratis</h6>
              </div>
            </div>
          </article>
          <% } %>
      </section>
      <section class="section-set-display section-btn-whatsapp">
        <div class="btn-whatsapp">
          <a
            href="https://api.whatsapp.com/send/?phone=+54 11 36346889&text=Tecnomundo!"
            target="_blank"
            title="¡Dejanos tu mensaje!"
            ><img src="images/whatsapp-logo.png" alt="whatsapp logo"
          /></a>
        </div>
      </section>
    </main>
    <!-- FOOTER -->
    <%- include('./partials/footer') %>
  </body>
</html>
