
<!DOCTYPE html> 
<html>
     <!-- HEAD -->
     <%- include('./partials/head') %>
<body>
    <!-- HEADER -->
    <%- include('./partials/header') %>
        
    <!-- MAIN -->
    <main>
        <section class="section-set-display formulario">
            <!--Ingreso de usuario registrado-->
            <article class="formulario-login">
                
                <form action="/" method="post" id="login">
                    <h2>Ingresá</h2>
                    <br>

                    <label class="label-bold" for="email">Usuario
                        <br>
                        <input class= "input-formulario" type="email" name="email" id="email" placeholder="mjabdo@hotmail.com" minlength="5" maxlength="30" required value="<%= typeof old != 'undefined' ? old.email : '' %>">
                        <br>
                        <% if(typeof(errors) != 'undefined' && errors.email){%>
                            <span class="text-danger"> 
                              <%= errors.email.msg %>
                            </span>
                         <%}%>
                    </label>

                    <label class="label-bold" for="contraseña">Contraseña
                        <input class= "input-formulario"  type="password" name="contraseña" id="contraseña" placeholder="Contraseña" required>
                        <br>
                        <% if(typeof(errors) != 'undefined' && errors.password){%>
                            <span class="text-danger">
                              <%= errors.password.msg %>
                            </span>
                         <%}%>
                    </label>

                    <label class="label-bold" for="recordarme">Recordarme
                        <input class="input-formulario" type="checkbox" name="recordarme" id="recordarme">
                        <br>
                    </label>

                   
                    <input  class='submit-login' type="submit" value="Ingresar">
                    <input  class='submit-login' type="submit" value="Ingresar con Facebook">
                    <input  class='submit-login' type="submit" value="Ingresar con Google">
                    

                    <a href="#" >¿Olvidaste tu contraseña?</a>

                </form>

            </article>

            <!--Creacion de usuario nuevo-->
            <article class="formulario-registro">    
               
                
                <form action="/user/login" method="POST" id="registro" enctype="multipart/form-data">
                    <div class="registro">
                        <h2>Creá tu cuenta</h2>
                        <h4>Datos Personales</h4>
                    </div>

                    <label class="label-bold"  for="name">Nombre
                        <input 
                        type="text" 
                        name="fullName" 
                        id="name" 
                        class= "input-formulario <%= locals.errors && errors.fullName ? 'is-invalid' : null %>"
                        value="<%= locals.oldData ? oldData.fullName : null %>" >
                    </label>
                    <% if(locals.errors && errors.fullName) { %>
                    <div class="text-danger">
                    <%= errors.fullName.msg %>
                    </div>
                    <% } %>

                    <label class="label-bold" for="name">Apellido
                        <input class= "input-formulario" type="text" name="lastName" id="name"  value="<%= locals.oldData ? oldData.lastName : null %>">
                    </label>
                    <% if(locals.errors && errors.lastName) { %>
                    <div class="text-danger">
                        <%= errors.lastName.msg %>
                    </div>
                        <% } %>

                    <label class="label-bold" for="email">Email
                        <input class= "input-formulario" type="email" name="email" id="email"  value="<%= locals.oldData ? oldData.email: null %>">
                    </label>
                    <% if(locals.errors && errors.email) { %>
                    <div class="text-danger">
                        <%= errors.email.msg %>
                    </div>
                        <% } %>

                    <label class="label-bold" for="contrasena">Contraseña
                        <input class= "input-formulario" type="password" name="contrasena" id="contrasena" placeholder="Contraseña" >
                    </label>
                    <% if(locals.errors && errors.contrasena) { %>
                    <div class="text-danger">
                        <%= errors.contrasena.msg %>
                    </div>
                        <% } %>

                    <label class="label-bold"  for="passconfcon"> Confirmar Contraseña
                        <input class= "input-formulario" type="password" name="passconfcon" id="passconfcon" placeholder=" Confirmar contraseña" >
                    </label>
                    <% if(locals.errors && errors.passconfcon) { %>
                        <div class="text-danger">
                            <%= errors.passconfcon.msg %>
                        </div>
                            <% } %>
                    <br>
                    <label class="label-bold"  for="avatar"> Imagen de Perfil
                        <input class= "input-formulario" type="file" name="avatar" id="avatar" >
                    </label>
                    <% if(locals.errors && errors.avatar) { %>
                        <div class="text-danger">
                            <%= errors.avatar.msg %>
                        </div>
                            <% } %>

                 

                    <input  class='submit-login' type="submit" value="Ingresar">
            
                
        
                </form>
            </article>
        
        </section>
        <section class="section-set-display">
            <div class="btn-whatsapp">
                <a href="https://api.whatsapp.com/send/?phone=+54 11 36346889&text=Tecnomundo!" target="_blank" title="¡Dejanos tu mensaje!"><img src="images/whatsapp-logo.png" alt="whatsapp logo"></a> 
            </div>
        </section>
     </main>

    <!-- FOOTER -->
    <%- include('./partials/footer') %>

 </body>
</html>