<!DOCTYPE html> 
<html>
     <!-- HEAD -->
     <!-- HEAD -->
     <head lang="en"> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>TecnoMundo</title> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <base href = "/"> 
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
        <link href="css/normalize.css" rel="stylesheet">
        <link href="css/styleunificado.css" rel="stylesheet">

    </head>
     
    <body>
        <!-- HEADER -->
        <%- include('./partials/header') %>
        
        <!-- MAIN -->

      <main>
        <% detalleProducto.forEach (item => { %>
       <div class="container products-wrapper margin-productDetail">
        <div class="card mb-3 " >
          <div class="row g-0">
            <div class="col-md-6" style="white-space: pre-wrap">
              <img src="images/products/<%= item.image %>" class="img-fluid" >
            </div>
            <div class="col-md-6">
              <div class="card-body">
                
                <div><h5 class="card-title name-product"><%= item.name %></h5></div>
                <div class="product-description">
                <h4 class="card-title detail-product" >Detalle del Producto</h4>
                <p class="card-text"><%= item.description %></p>
                </div>

                <div class="card-title productDetail-price-discount">
                    <div>
                        <h5 class="price-product">$ <%= (((100 - item.discount)/100)*item.price).toFixed(2) %></h5>
                    </div>
                    <% if (item.discount != 0) { %>
                    <div class="discount-listaProducto">
                            <div><h6 class="precio-tachado">$ <%= item.price %></h6></div>
                            <div><h6><%= item.discount %> % OFF</h6></div>
                    </div>
                    <% } %>
                </div> 
               
                <div class="counter contador-productDetail"> 
                  <div class="btn btn-minus"><i class="fa-solid fa-circle-minus"></i></i></div>
                  <div class=number>2</div>
                
                 <div class="btn btn-plus"><i class="fa-solid fa-circle-plus"></i></div>
                </div>

                <div class="d-grid gap-2 button-productDetail">
                  <button class="btn btn-primary" type="button">Comprar</button>
                  
                </div>
                
                <div class="edit-delete">
                
                  <a href="product/edit/<%= item.id %>"  title="edit"><i class="fa-solid fa-pen-to-square"></i></a>
                  
                                                                          
                <form action="product/delete/<%= item.id %>?_method=delete" method="post">
                
                  <button class="button-delete" type="submit">
                    <i width="30px" class="fa-regular fa-trash-can"></i>
                  </button>
                 
                </form>
              </div>
                
              </div>
              
            </div>
          </div>
        </div>
        </div>
        <% }) %>

      </main>
      <footer>
        <%- include('./partials/footer') %>
      </footer>
       </body>
        </html>